body {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #778af1;
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;

}

h2 {
    margin: 5px;
}

#pie-svg {
    -webkit-filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
    filter        : drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
}

.draggable-element {
    fill        : #fff;
    cursor      : grab;
    stroke      : #ccc;
    stroke-width: 3px;
}

.arc:hover {
    /* fill: #f00; */
}

.container {
    display: flex;
    border : 1px solid #ccc;
}

.chart-box {
    width : 400px;
    height: 400px;
}

.content-box {
    display        : flex;
    flex-direction : column;
    justify-content: center;
}

.box-item {
    display        : flex;
    justify-content: space-between;
    width          : 150px;
    margin         : 5px;
    padding-left   : 15px;
    padding-right  : 5px;
    border-radius  : 5px;
    box-shadow     : rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.box-value::after {
    content  : ' %';
    font-size: 20px;
}